@model IEnumerable<InfnetTecCsharpCrud.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            Fornecedor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CodigoProduto }) |
                @Html.ActionLink("Exibir", "Details", new { id = item.CodigoProduto }) |
                @if (item.Itens.Count > 0)
                {
                    <a href="#" onclick="alert('Não é possivel remover este produto pois tem itens associados.')">Delete</a>
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.CodigoProduto })
                }
            </td>
        </tr>
    }

</table>
