@model IEnumerable<InfnetTecCsharpCrud.Models.PessoaJuridica>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodigoPessoa }) |
            @Html.ActionLink("Exibir", "Details", new { id=item.CodigoPessoa }) |
            
            @if (item.Pedidos.Count > 0 || item.Produtos.Count > 0)
             {
                <a href="#" onclick="alert('Não é possivel remover este fornecedor pois tem produtos associados.')">Remover</a>
            }
            else
            {
                @Html.ActionLink("Remover", "Delete", new { id = item.CodigoPessoa })
            }
            
        </td>
    </tr>
}

</table>
