@model InfnetTecCsharpCrud.Models.Pedido

@{
    ViewBag.Title = "Create";
}

<h2>Criar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataPedido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataPedido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataPedido, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoComprador, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodigoComprador", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoComprador, "", new { @class = "text-danger" })
                <span class="text-danger field-validation-valid hide" id="validacaoCliente"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoVendedor, "Fornecedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodigoVendedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoVendedor, "", new { @class = "text-danger" })
                <span class="text-danger field-validation-valid hide" id="validacaoFornecedor"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4 class="pedido-titulo">Itens do Pedido</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <input type="button" value="+ Item" class="btn btn-default btn-adicionar-item" />
                <span class="text-danger field-validation-valid hide" id="validacaoItens"></span>
            </div>
        </div>


        <div class="itens">

        </div>

        <div class="modelo hide">
            <div class="row pedido-item">

                <div class="col-lg-3">
                    <label class="control-label">Produto</label>
                    <select class="form-control item-produto">
                        <option data-preco="0" value="-1">- Selecione -</option>
                        @foreach (var produto in ViewBag.Produto)
                        {
                            <option data-preco="@produto.Preco" value="@produto.CodigoProduto">@produto.Nome</option>
                        }
                    </select>
                    <span class="text-danger field-validation-valid hide validacaoItemProduto"></span>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Quantidade</label>
                    <input type="number" class="form-control item-quantidade" />
                    <span class="text-danger field-validation-valid hide validacaoItemQuantidade"></span>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Valor Unitário</label>
                    <label type="number" class="form-control item-valor-unitario" />
                </div>

                <div class="col-lg-1">
                    <label class="control-label item-remover">X</label>
                </div>

            </div>
        </div>

        <div class="row espacamento">
            <div class="col-lg-12">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-10 pedido-criar">
                @Html.ActionLink("Voltar", "Index")
                <input type="button" value="Criar" data-rota="@Url.Action("Create")" class="btn btn-default btn-salvar-pedido" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Pedido.js")
}