@model InfnetTecCsharpCrud.Models.Pedido

@{
    ViewBag.Title = "Delete";
}

<h2>Remover</h2>

<h3>Tem certeza que deseja remover?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comprador.Nome)
        </dd>

        <dt>
            Fornecedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            Itens
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdItens)
        </dd>

        <dt>
            Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    <div class="row">
        <div class="col-lg-12">
            <h4 class="pedido-titulo">Itens do Pedido</h4>
        </div>
    </div>

    <div class="itens">

        @foreach (var item in Model.Itens)
            {
            <div class="row pedido-item">

                <div class="col-lg-3">
                    <label class="control-label">Produto</label>
                    <label type="number" class="form-control">@item.Produto.Nome</label>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Quantidade</label>
                    <label type="number" class="form-control">@item.Qtd</label>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Valor Unitário</label>
                    <label type="number" class="form-control item-valor-unitario">@item.ValorUnitario</label>
                </div>
            </div>
        }

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
